<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACDHLXQ-c2Xs8liw9HvJElwdd09H9ZT3A</string>
	<key>GCM_SENDER_ID</key>
	<string>573787641370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagram.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>instagram-flutter-a9361</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-flutter-a9361.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573787641370:ios:87414f5df4ce0d22ee23a3</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-flutter-a9361-default-rtdb.firebaseio.com</string>
</dict>
</plist>